* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  color: #eae7d6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url('/assets/closed_flashlight.png'), auto;
}

.container {
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 90%;
}


.footer {
  display: flex;
  position: relative;
  width: 95%;
  font-size: 150%;
  justify-content: space-between;
  margin: 17%;
}

.footer-left, .footer-right {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.bottom-text {
  position: relative;
  text-align: center;
  font-size: 150%;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  padding-top: 10px;
}

.birthdate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 500%;
  border-bottom: 1px solid #ffffff;
}

.rng-container {
  position: absolute;
  border: 1px #ffffff solid;
  height: 90%;
  width: 90%;
}

.rng-numbers {
  font-size: 175%;
  cursor: pointer;
  color: #ffffff;
  z-index: 10;
  transition: 0.5s ease;
  
}

.rng-numbers:hover{
  font-size: 180%;
  color: #437171;
  cursor: url('assets/open_flashlight.png'), auto;
}
